$bg: #43425D;
$bg-muted: #F0F0F7;
$bg-active: #343347;


$text-light: #F0F0F7;
$text: #4D4F5C;
$text-muted: #A3A6B4;
$white: #fff;
$title: #43425D;

$edit: #6A6996;

$danger: #FF5F5F;
$active: #3B86FF;

$border: #EAF0F4;
$border2: #D7DAE2;
$border-active: #A3A0FB;

$icon: #A5A4BF;
$icon2: #BCBCCB;

$icon-active: #A3A0FB;